allow mediaserver sensorservice_service:service_manager find;
allow mediaserver system_server:unix_stream_socket rw_socket_perms;
allow mediaserver audio_device:chr_file rw_file_perms;
