# Copyright (c) 2009-2012, 2014-2015, The Linux Foundation. All rights reserved.
#
# Redistribution and use in source and binary forms, with or without
# modification, are permitted provided that the following conditions are met:
#     * Redistributions of source code must retain the above copyright
#       notice, this list of conditions and the following disclaimer.
#     * Redistributions in binary form must reproduce the above copyright
#       notice, this list of conditions and the following disclaimer in the
#       documentation and/or other materials provided with the distribution.
#     * Neither the name of The Linux Foundation nor
#       the names of its contributors may be used to endorse or promote
#       products derived from this software without specific prior written
#       permission.
#
# THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
# AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
# IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NON-INFRINGEMENT ARE DISCLAIMED.  IN NO EVENT SHALL THE COPYRIGHT OWNER OR
# CONTRIBUTORS BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL,
# EXEMPLARY, OR CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO,
# PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS;
# OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY,
# WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR
# OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF
# ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#

import init.qcom.power.rc
import init.qcom.usb.rc

on early-init
    symlink /data/tombstones /tombstones

    mkdir /carrier 0771 radio radio
    mkdir /dev/radio 0770 radio radio
    mkdir /dsp 0771 media media
    mkdir /firmware 0771 system system
    mkdir /firmware/adsp 0771 system system
    mkdir /firmware/image 0771 system system
    mkdir /firmware/radio 0771 system system
    mkdir /firmware/slpi 0771 system system
    mkdir /firmware/venus 0771 system system
    mkdir /firmware/wsd 0500 rfs rfs

on init
    # Allow all the cpus to be used for now
    write /dev/cpuset/background/cpus 0-3
    write /dev/cpuset/foreground/cpus 0-3
    write /dev/cpuset/system-background/cpus 0-3

    export LD_SHIM_LIBS "/system/lib/liblog.so|/system/lib/liblog_htc.so:/system/lib64/liblog.so|/system/lib64/liblog_htc.so"

    # Set permissions for persist partition
    mkdir /persist 0771 system system

    # Support legacy paths
    symlink /sdcard /mnt/sdcard0
    symlink /sdcard /storage/sdcard0

    # From init.target.rc
    write /sys/module/qpnp_rtc/parameters/poweron_alarm 1

on fs
    mount_all fstab.qcom

    # symlink firmware to /firmware/image
    wait /system/bin/sh
    class_start firmware-link
    wait /firmware/image/.adsp_done
    wait /firmware/image/.radio_done
    wait /firmware/image/.sec_done
    wait /firmware/image/.venus_done
    setprop ro.boot.firmware.cpe 1

    # HTC feature: Support multiple firmware image mount points
    write /sys/module/firmware_class/parameters/fw_path /firmware/adsp,/firmware/radio,/firmware/slpi,/firmware/venus,/firmware/wsd,/vendor/firmware

on post-fs-data
    # Create directory for tombstone
    mkdir /data/tombstones 0771 system system
    mkdir /tombstones/modem 0771 system system
    mkdir /tombstones/lpass 0771 system system
    mkdir /tombstones/dsps 0771 system system

    mkdir /persist/data/sfs 0700 system system
    mkdir /persist/data/tz 0700 system system
    mkdir /persist/tee 0700 system system

    # Create directory for audio
    mkdir /data/data/media 0770 media media
    mkdir /data/misc/audio 0770 audio audio
    mkdir /data/misc/dts 0770 media audio

    # Create directory for camera
    mkdir /data/camera 0770 media camera
    mkdir /data/misc/camera 0770 camera camera

    # Create directory for CNE
    mkdir /data/connectivity 0771 system system

    # Create directory for DASH client
    mkdir /data/misc/dash 0770 media audio

    # Create directory for display
    mkdir /data/misc/display 0770 system graphics
    mkdir /persist/display 0770 system graphics

    # Create directory for DPM
    mkdir /data/dpm 0771 system system
    mkdir /data/dpm/nsrm 0771 system system

    # Create directory for fingerprint
    mkdir /data/fpc 0770 system system

    # Create directory for SSC/SLPI sensors
    mkdir /data/misc/sensors 0775 system system

    # Create directory for hostapd
    mkdir /data/hostapd 0770 system wifi

    # Create directory for IMS services
    mkdir /data/shared 0755 system system

    # Create directory for IPA
    mkdir /data/misc/ipa 0700 net_admin net_admin

    # Create directory for location services
    mkdir /data/misc/location 0770 gps gps
    mkdir /data/misc/location/gpsone_d 0770 system gps
    mkdir /data/misc/location/gsiff 0770 gps gps
    mkdir /data/misc/location/mq 0770 gps gps
    mkdir /data/misc/location/quipc 0770 gps system
    mkdir /data/misc/location/xtwifi 0770 gps gps

    # Create directory for MobiCore
    mkdir /data/app/mcRegistry 0775 system system
    symlink /persist/tee/00000000.authtokcont.backup /data/app/mcRegistry/00000000.authtokcont.backup
    export MC_AUTH_TOKEN_PATH /data/app/mcRegistry

    # Create directory for modem config
    mkdir /data/misc/radio/modem_config 0770 radio radio

    # Mark the copy complete flag to not completed
    write /data/misc/radio/copy_complete 0
    chown radio radio /data/misc/radio/copy_complete
    chmod 0660 /data/misc/radio/copy_complete

    # Create directory for NFC
    mkdir /data/nfc 0770 nfc nfc
    mkdir /data/nfc/param 0770 nfc nfc

    # Create directory for perfd
    mkdir /data/misc/perfd 2755 root system
    mkdir /data/system/perfd 2770 root system

    # Create directory for time-services
    mkdir /data/time/ 0700 system system

    # Create directory for TZ Apps
    mkdir /data/misc/qsee 0770 system system

    setprop vold.post_fs_data_done 1

on property:init.svc.bootanim=running
    write /sys/class/leds/wled/brightness 4095

on early-boot
    chown root audio /sys/kernel/boot_adsp/boot
    write /sys/kernel/boot_adsp/boot 1
    write /sys/kernel/boot_slpi/boot 1

on boot
    # Create QMUX deamon socket area
    mkdir /dev/socket/qmux_audio 0770 media audio
    mkdir /dev/socket/qmux_bluetooth 0770 bluetooth bluetooth
    mkdir /dev/socket/qmux_gps 0770 gps gps
    mkdir /dev/socket/qmux_radio 0770 radio radio

    # Create NETMGR daemon socket area
    mkdir /dev/socket/netmgr 0750 radio radio

    # Set rfkill permissions
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/state
    chown bluetooth bluetooth /sys/class/rfkill/rfkill0/type
    chmod 0660 /sys/class/rfkill/rfkill0/state
    chmod 0660 /sys/class/rfkill/rfkill0/type

    # Bluetooth serial bus
    chown bluetooth net_bt /dev/ttyHS0
    chown bluetooth bluetooth /dev/ttyHS2
    chmod 0660 /dev/ttyHS0
    chmod 0660 /dev/ttyHS2

    # Set graphic node permissions
    chown system graphics /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chown system graphics /sys/class/graphics/fb0/idle_time
    chown system graphics /sys/class/graphics/fb0/dyn_pu
    chown system graphics /sys/class/graphics/fb0/modes
    chown system graphics /sys/class/graphics/fb0/mode
    chown system graphics /sys/class/graphics/fb1/hpd
    chmod 0664 /sys/class/graphics/fb0/msm_cmd_autorefresh_en
    chmod 0664 /sys/class/graphics/fb0/idle_time
    chmod 0664 /sys/class/graphics/fb0/dyn_pu
    chmod 0664 /sys/class/graphics/fb0/modes
    chmod 0664 /sys/class/graphics/fb0/mode
    chmod 0664 /sys/class/graphics/fb1/hpd

    # Set HTC debug driver permissions
    chown root system /proc/driver/hdf
    chmod 0664 /proc/driver/hdf

    # SSC/SLPI sensors
    chmod 0775 /persist/sensors
    chmod 0664 /persist/sensors/sensors_settings
    chown system root /persist/sensors/sensors_settings

    # Set display permissions
    chown system graphics /sys/class/leds/lcd-backlight/cabc_level_ctl
    chown system system /sys/class/leds/lcd-backlight/burst_switch
    chown system system /sys/class/leds/lcd-backlight-nits/brightness

    # Capacitive key disabler permissions
    chown system system /sys/devices/soc/757a000.i2c/i2c-6/6-0064/disable_key

    chown system system /sys/camera_led_status/led_hotspot_status
    chown system system /sys/module/ccid_bridge/parameters/bulk_msg_timeout

    # Laser sensor
    chown system system /dev/iio:device0
    chown system system /dev/iio:device1
    chown system system /sys/class/htc_laser/laser/iio/buffer/enable
    chown system system /sys/class/htc_laser/laser/iio/buffer/length
    chown system system /sys/class/htc_laser/laser/iio/trigger/current_trigger

    chmod 660 system system /dev/iio:device0
    chmod 660 system system /dev/iio:device1
    chmod 660 system system /sys/class/htc_laser/laser/iio/buffer/enable
    chmod 660 system system /sys/class/htc_laser/laser/iio/buffer/length
    chmod 660 system system /sys/class/htc_laser/laser/iio/trigger/current_trigger

    chown system system /sys/devices/virtual/htc_laser/laser/enable
    chown system system /sys/devices/virtual/htc_laser/laser/batch
    chown system system /sys/devices/virtual/htc_laser/laser/flush
    chown system system /sys/devices/virtual/htc_laser/laser/laser_power
    chown system system /sys/devices/virtual/htc_laser/laser/laser_hwid
    chown system system /sys/devices/virtual/htc_laser/laser/laser_range
    chown system system /sys/devices/virtual/htc_laser/laser/laser_compensation
    chown system system /sys/devices/virtual/htc_laser/laser/laser_offset
    chown system system /sys/devices/virtual/htc_laser/laser/laser_xtalk
    chown system system /sys/devices/virtual/htc_laser/laser/laser_offset_calibrate
    chown system system /sys/devices/virtual/htc_laser/laser/laser_xtalk_calibrate
    chown system system /sys/devices/virtual/htc_laser/laser/laser_cali_status

    chmod 660 /sys/devices/virtual/htc_laser/laser/enable
    chmod 660 /sys/devices/virtual/htc_laser/laser/batch
    chmod 660 /sys/devices/virtual/htc_laser/laser/flush
    chmod 660 /sys/devices/virtual/htc_laser/laser/laser_power
    chmod 440 /sys/devices/virtual/htc_laser/laser/laser_hwid
    chmod 440 /sys/devices/virtual/htc_laser/laser/laser_range
    chmod 660 /sys/devices/virtual/htc_laser/laser/laser_compensation
    chmod 660 /sys/devices/virtual/htc_laser/laser/laser_offset
    chmod 660 /sys/devices/virtual/htc_laser/laser/laser_xtalk
    chmod 440 /sys/devices/virtual/htc_laser/laser/laser_offset_calibrate
    chmod 660 /sys/devices/virtual/htc_laser/laser/laser_xtalk_calibrate
    chmod 440 /sys/devices/virtual/htc_laser/laser/laser_cali_status

    # SensorHUB
    chown system system /sys/class/htc_sensorhub/sensor_hub/iio/buffer/enable
    chown system system /sys/class/htc_sensorhub/sensor_hub/iio/buffer/length
    chown system system /sys/class/htc_sensorhub/sensor_hub/iio/trigger/current_trigger

    chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/buffer/enable
    chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/buffer/length
    chmod 660 /sys/class/htc_sensorhub/sensor_hub/iio/trigger/current_trigger

    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/ap_calibrator_data_acc_rl
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_acc
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_acc_rl
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_barometer
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_gyro
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_light
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_mag
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_proximity
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_en
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_acc
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_gyro
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_mag
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/ps_canc
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/ps_autok_thd
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/ls_leveltolux
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/ls_mechanism
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/data_barometer
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/data_light_kadc
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/data_light_polling
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/data_proximity
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/data_proximity_polling
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/delay_ms
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/enable
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/batch_enable
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/flush
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/firmware_version
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/hall_sensor
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/sensor_hub_rdata
    chown system system /sys/devices/virtual/htc_sensorhub/sensor_hub/facedown_enabled
    chown system gesture_motion /sys/class/htc_sensorhub/sensor_hub/gesture_motion
    chown system system /sys/class/htc_sensorhub/sensor_hub/mcu_wakeup
    chown system system /sys/class/htc_sensorhub/sensor_hub/dbg_flag
    chown system system /sys/class/optical_sensors/proximity/p_status
    chown radio radio /sys/class/optical_sensors/proximity/ps_adc

    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/ap_calibrator_data_acc_rl
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_acc
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_acc_rl
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_barometer
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_gyro
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_light
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_mag
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_data_proximity
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_en
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_acc
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_gyro
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/calibrator_status_mag
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/ps_canc
    chmod 660 /sys/devices/virtual/htc_sensorhub/sensor_hub/ps_autok_thd
    chmod 444 /sys/devices/virtual/htc_sensorhub/sensor_hub/ls_leveltolux
    chmod 444 /sys/devices/virtual/htc_sensorhub/sensor_hub/ls_mechanism
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/data_barometer
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/data_light_kadc
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/data_light_polling
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/data_proximity
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/data_proximity_polling
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/delay_ms
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/enable
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/batch_enable
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/flush
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/firmware_version
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/hall_sensor
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/sensor_hub_rdata
    chmod 664 /sys/devices/virtual/htc_sensorhub/sensor_hub/facedown_enabled
    chmod 664 /sys/class/htc_sensorhub/sensor_hub/gesture_motion
    chmod 664 /sys/class/htc_sensorhub/sensor_hub/mcu_wakeup
    chmod 664 /sys/class/htc_sensorhub/sensor_hub/dbg_flag
    chmod 444 /sys/class/optical_sensors/proximity/p_status
    chmod 444 /sys/class/optical_sensors/proximity/ps_adc

    # LED
    chown system system /sys/class/leds/flashlight/brightness
    chown system system /sys/class/leds/indicator/ModeRGB
    chown system system /sys/class/leds/indicator/off_timer

    # Set glove mode permissions
    chown system system /sys/android_touch/glove_setting
    chown system system /sys/android_cap/glove_setting

    # Set volume key wake attribute permissions
    chown media media /sys/keyboard/vol_wakeup

    # Set vibrator intensity permissions
    chown system system /sys/devices/virtual/timed_output/vibrator/voltage_level
    chmod 0644 /sys/devices/virtual/timed_output/vibrator/voltage_level

    write /sys/devices/soc/soc:fp_fpc1155/pinctl_set fpc1020_reset_active

# Services begin here

service adsprpcd /system/bin/adsprpcd
    class main
    user media
    group media

service audiod /system/bin/audiod
   class late_start
   user system
   group system

service charger /charger
    class charger

service cnd /system/bin/cnd
    class late_start
    socket cnd stream 660 root inet

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system input

service ims_rtp_daemon /system/bin/ims_rtp_daemon
   class main
   user system
   socket ims_rtpd stream 0660 system radio
   group radio net_raw diag diag inet log
   disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start ims_rtp_daemon

service imscmservice /system/bin/imscmservice
    class main
    user system
    group radio net_raw diag diag log
    disabled

on property:sys.ims.DATA_DAEMON_STATUS=1
    start imscmservice

service imsdatadaemon /system/bin/imsdatadaemon
    class main
    user system
    socket ims_datad stream 0660 system radio
    group system wifi radio inet net_raw log diag net_admin
    disabled

on property:sys.ims.QMI_DAEMON_STATUS=1
    start imsdatadaemon

service imsqmidaemon /system/bin/imsqmidaemon
    class main
    user system
    socket ims_qmid stream 0660 system radio
    group radio net_raw log diag

service ipacm-diag /system/bin/ipacm-diag
    class main
    user system
    socket ipacm_log_file dgram 660 system net_admin
    group net_admin qcom_diag

service ipacm /system/bin/ipacm
    class main
    user net_admin
    group net_admin inet

service irsc_util /system/bin/irsc_util "/etc/sec_config"
    class main
    user root
    oneshot

service msm_irqbalance /system/bin/msm_irqbalance -f /system/vendor/etc/msm_irqbalance.conf
    class main
    user root
    group root

service netmgrd /system/bin/netmgrd
    class main

#Start up peripheral manager
service per_mgr /system/bin/pm-service
    class core
    user system
    group system net_raw
    ioprio rt 4

service per_proxy /system/bin/pm-proxy
    class core
    user system
    group system
    disabled

on property:init.svc.per_mgr=running
    start per_proxy

on property:sys.shutdown.requested=*
    stop per_proxy

service perfd /system/vendor/bin/perfd
    class main
    user root
    disabled

service ppd /system/vendor/bin/mm-pp-daemon
    class late_start
    disabled
    user system
    socket pps stream 0660 system system
    group system graphics

on property:init.svc.surfaceflinger=stopped
    stop ppd

on property:init.svc.surfaceflinger=running
    start ppd

service qcamerasvr /system/bin/mm-qcamera-daemon
    class main
    user camera
    group camera system inet input graphics

service qcom-sh /system/bin/sh /init.qcom.sh
    class late_start
    user root
    oneshot

service qmuxd /system/bin/qmuxd
    class core
    user root
    group radio audio bluetooth gps qcom_diag

service qseecomd /system/bin/qseecomd
    class core
    user root
    group root

service qti /system/vendor/bin/qti
    class main
    user radio
    group radio net_raw diag usb net_admin

service rmt_storage /system/bin/rmt_storage
    class core
    user root

service sensors /system/bin/sensors.qcom
    class core
    user root
    group root

service thermal-engine /system/vendor/bin/thermal-engine
    class main
    user root
    socket thermal-send-client stream 0666 system system
    socket thermal-recv-client stream 0660 system system
    socket thermal-recv-passive-client stream 0666 system system
    group root

service tftp_server /system/bin/tftp_server
    class core
    user root

service time_daemon /system/bin/time_daemon
    class late_start
    user root
    group root

service p2p_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/p2p_supplicant_overlay.conf \
    -puse_p2p_group_interface=1p2p_device=1 \
    -m/data/misc/wifi/p2p_supplicant.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class late_start
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

service wpa_supplicant /system/bin/wpa_supplicant \
    -iwlan0 -Dnl80211 -c/data/misc/wifi/wpa_supplicant.conf \
    -I/system/etc/wifi/wpa_supplicant_overlay.conf \
    -e/data/misc/wifi/entropy.bin -g@android:wpa_wlan0
    class late_start
    socket wpa_wlan0 dgram 660 wifi wifi
    disabled
    oneshot

on property:init.svc.wpa_supplicant=stopped
    stop dhcpcd

service dhcpcd_wlan0 /system/bin/dhcpcd -ABKLG
    class late_start
    disabled
    oneshot

service dhcpcd_bond0 /system/bin/dhcpcd -ABKLG
    class late_start
    disabled
    oneshot

service dhcpcd_p2p /system/bin/dhcpcd -ABKLG
    class late_start
    disabled
    oneshot

service iprenew_wlan0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_bond0 /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service iprenew_p2p /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bt-pan /system/bin/dhcpcd -BKLG
    class late_start
    disabled
    oneshot

service iprenew_bt-pan /system/bin/dhcpcd -n
    class late_start
    disabled
    oneshot

service dhcpcd_bnep0 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep1 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep2 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep3 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service dhcpcd_bnep4 /system/bin/dhcpcd -BKLG
    disabled
    oneshot

service hostapd /system/bin/hostapd -dd /data/hostapd/hostapd.conf
    class late_start
    user root
    group root
    oneshot
    disabled

# Firmware linking to /firmware/image
service fwnk-adsp  /system/bin/sh /init.qcom.firmware_links.sh /firmware/adsp /firmware/image "adsp*" adsp
    class firmware-link
    oneshot

service fwnk-cpe  /system/bin/sh /init.qcom.firmware_links.sh /firmware/adsp /firmware/image "cpe*" cpe
    class firmware-link
    oneshot

service fwnk-radio /system/bin/sh /init.qcom.firmware_links.sh /firmware/radio /firmware/image "modem* mba* radiover* version* qdsp6m* msadp*" radio
    class firmware-link
    oneshot

service fwnk-sec  /system/bin/sh /init.qcom.firmware_links.sh /system/etc/firmware /firmware/image "keymaste* gpta*" sec
    class firmware-link
    oneshot

service fwnk-venus /system/bin/sh /init.qcom.firmware_links.sh /firmware/venus /firmware/image "venus*" venus
    class firmware-link
    oneshot

# Triggers start here
on class_start:late_start
    # For modem config copy
    write /data/misc/radio/copy_complete 1

service pnpmgr /system/bin/pnpmgr -c /system/etc/pnp.cfg
    class core
    user root
